
<link rel="stylesheet" href="/css/roles.css">
<div class="container">
  <h1>Select Role</h1>

  <button class="btn" id="dean-btn"><a href="/dean/sign-up">Dean</a></button>
  <button class="btn" id="hod-btn"><a href="/hod/sign-up">Head Of Department</a></button>
  <button class="btn" id="staff-btn"><a href="/staff/sign-up">Staff</a></button>

</div>
