<link rel="stylesheet" href="/css/staffprofile.css">
<div class="profile-card">
    <img class="profile-picture" src="/images/staffprofile.jpg" alt="Staff Name">
    <div class="name"><%= user.username %></div>
    <div class="position">Teaching-Staff</div>
    <div class="contact">
        <p>Email: <%= user.email %></p>
        <!-- <p>Phone: 6523484910</p> -->
    </div><hr>
</div>